<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:qmq="http://www.qunar.com/schema/qmq"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
http://www.qunar.com/schema/qmq http://www.qunar.com/schema/qmq/qmq.xsd">

    <bean id="logInitialization"
          class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="ch.qos.logback.ext.spring.LogbackConfigurer"/>
        <property name="targetMethod" value="initLogging"/>
        <property name="arguments">
            <value>classpath:logback.xml</value>
        </property>
    </bean>
    <qmq:consumer appCode="demo" metaServer="http://192.168.47.211:9000/meta/address" />

    <context:annotation-config />
    <context:component-scan base-package="consumer" />

    <!-- 供处理消息用的线程池 -->
    <bean id="qmqExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
        <property name="corePoolSize" value="2" />
        <property name="maxPoolSize" value="2" />
        <property name="queueCapacity" value="1000" />
        <property name="threadNamePrefix" value="qmq-process" />
    </bean>
</beans>
